.card-event {
  height: 100%;
}

.card-title {
  margin-bottom: 0;
}

.custom-text {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  margin-bottom: auto;
}
