body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.dropdown-item:active {
  background-color: #009e4d;
}

.nav-link {
  position: relative;
}

.nav-link.active.nav-link::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #009e4d;
}

@media (max-width: 767px) {
  .nav-link.active.nav-link::before {
    height: 75%;
    left: -8px;
    width: 4px;
    border-radius: unset;
    top: 50%;
    transform: translateY(-50%);
  }
}

#main-container {
  margin-top: 122px;
  margin-bottom: 40px;
}

#profile-dropdown {
  border: none;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  background: url('../assets/avatar.jpg');
}

#profile-dropdown::after {
  display: none;
}

footer ul > li {
  padding-left: 8px;
  font-size: 0.875rem;
}

footer div img {
  width: 230px !important;
}

@media (max-width: 992px) {
  footer div img {
    display: none !important;
  }
}

.form-control:focus {
  box-shadow: none;
  border-color: #009e4d;
}
