.card-timestamp::before {
  content: '•';
  color: inherit;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  opacity: 0.8;
}

#card-actions {
  cursor: default;
}

button:hover i[data-id='like'] {
  color: red;
}

button:hover i[data-id='comment'] {
  color: goldenrod;
}

.comment-actions:is(:hover, :active:hover) {
  color: #009e4d;
}

:is(button[data-id='comment-like'], button[data-id='comment-reply']).active {
  font-weight: bold;
  color: #009e4d;
}

.comment-line-horizontal::before {
  content: '';
  position: absolute;
  top: 20px;
  left: -30px;
  width: 30px;
  height: 2px;
  background-color: #adb5bd;
  opacity: 0.2;
}

.comment-line-vertical::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 18px;
  width: 2px;
  height: var(--dynamicHeight, 176px);
  background-color: #adb5bd;
  opacity: 0.2;
}

:is(#comment-input:is(:hover, :focus) i, #comment-input:focus-visible) {
  color: #009e4d;
  outline-color: #009e4d;
}

.avatar {
  box-shadow: 0px 0px 0px 2px #009e4d;
}
