/* Borda Container login */
#box-login {
  border-radius: 16px;
  margin-block: 60px;
}

@media (max-width: 767px) {
  #box-login {
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  #form-container {
    flex-direction: column;
  }

  #schneider-logo {
    width: 75%;
  }
}
